/*@import url(http://fonts.googleapis.com/css?family=Neuton:400,200,400italic,700,800);*/

section.slides > article {
    font-family: 'Neuton', serif;
}

@font-face {
  font-family: 'Neuton';
  font-style: italic;
  font-weight: normal;
  src: local('Neuton Italic'), local('Neuton-Italic'), url('6jMDFzuE3S_SN8y5pCCVKvesZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: normal;
  src: local('Neuton Regular'), local('Neuton-Regular'), url('FWmpGWvJ4R8gbr0i3io5KQ.woff') format('woff');
}
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 700;
  src: local('Neuton Bold'), local('Neuton-Bold'), url('MK-qWv3o5LiGs6rxlk2euz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 200;
  src: local('Neuton Extralight'), local('Neuton-ExtraLight'), url('Tjl7b0u2P9xaFOPIyj3u0j8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 800;
  src: local('Neuton Extrabold'), local('Neuton-ExtraBold'), url('SLchCroJwYIfYhi7deprmD8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
